<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" routerLink="/home"><strong>Home</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/experience">Experience</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/education">Education</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/project">Project</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/photo">Photo</a>
          </li>          
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <router-outlet></router-outlet>
</main>
<!-- /.Main -->

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="text-center py-3">
      <h5>This website is developed with <img width="30" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">ngular</h5> 
      <h5>© 2019 Copyright: wellflag.com</h5>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->